<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">


    <nav  class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top"  style="background-color: red;opacity: 0.4;">
      <div class="container" >
        <a class="navbar-brand" href="{{ url_for('home') }}">GIFTOR</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_Us') }}">About us</a>
            </li>
            <!-- Senza drop-down
            <li class="nav-item">
              <a class="nav-link" href="/work_with_us">Work with us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customer_service">Customer Support</a>
            </li>
            -->
            <!-- Con dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact us</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{{ url_for('about_Us') }}">Work with us</a>
                <a class="dropdown-item" href="{{ url_for('about_Us') }}">Customer Support</a>
              </div>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Languages</a>
              <div class="dropdown-menu" aria-labelledby="dropdown09">
                <a class="dropdown-item" href="#uk"><span class="flag-icon flag-icon-gb"> </span> English</a>
                <a class="dropdown-item" href="#it"><span class="flag-icon flag-icon-it"> </span> Italian</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </nav>






