
<div class="social-bar" >
    <ul>
        <li>
            <a href="https://www.facebook.com/Giftor-102501121715266/" class="fb" target="_blank">
                <span class="icon-facebook" style="fill-opacity: 0.5" ></span>
            </a>
        </li>
        <li>
            <a href="https://instagram.com/giftor_2020?igshid=d2fbcieqlc2c" class="insta" target="_blank">
                <span class="icon-instagram" style="fill-opacity: 0.5"></span>
            </a>
        </li>
    </ul>
</div>