<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="social-bar" >
    <ul>
        <li class="fb">
            <a href="https://www.facebook.com/Giftor-102501121715266/" class="fa fa-facebook" target="_blank">

            </a>
        </li>
        <li class="insta">
            <a href="https://instagram.com/giftor_2020?igshid=d2fbcieqlc2c" class="fa fa-instagram" target="_blank">

            </a>
        </li>
    </ul>
</div>