
{% include 'module/head.html' %}
<style type="text/css">
    .text-center {
        background-image: url(/static/img/sfondo_home_prova2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

</style>
<link href="/static/stylesheets/home.css" rel="stylesheet">
<script src="static/vendor/jquery/jquery.js"></script>
<script src="static/vendor/js/bootstrap.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script><script>window.jQuery || document.write('<script src="/static/vendor/boostrap/jquery/jquery.slim.min.js"><\/script>')</script><script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="static/vendor/jquery/jquery.slim.js"></script>



  <body class="text-center">
    <header>
    {% include 'module/navbar.html' %}
    </header>


      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

              <main role="main" class="inner cover" >

            <h1 class="display-1">500</h1>
                  <br>
                  <br>
                  <h4>Internal server error</h4>
                  <br>
                  <p>It is impossible to draw up the request sent by the browser for an unidentifiable reason</p>
                  <br>
                  <p>This error can only be corrected by server managers, please contact the provider of the website. We apologize for any inconvenience. </p>
                  <br>
                  <br>
                  <div>
                      <a href="/customer_service">Contact us</a>
                      <a href="/home">Back to home </a>
                  </div>



              </main>
              {% include 'module/footer.html' %}
      </div>






  </body>
