{% include 'module/head.html' %}
{% include 'module/social_bar.html' %}
<link href="../static/stylesheets/carousel.css" rel="stylesheet">
<body class="text-center" style="background-image: url(/static/img/sfondo_home_prova2.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;">

    <header>
        {% include 'module/navbar.html' %}
    </header>

    <main role="main" style="margin-left: 15%">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="carousel-caption text-center">
                <h1>Millennials</h1>
                <p>
                    Always connected each other and with the ability to know somebody better than anyone due to frequently social interaction.
                    They are the ones who better fit the features of our service, giving us precious feedback and tips in order to enable the team in reaching out higher level of accuracy.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption">
                <h1>Store owner</h1>
                <p>
                    Aimed at all small business and e-commerce that are struggling in develop and deploy an efficient strategy to speed up the decision process of the costumer in a smooth and confidential way.
                    This allow the business to be viewed by more people and increase the ability in closing deal rising the revenue effortless.
                </p>
                <p><a class="btn btn-lg btn"  style="background: #FFFFFF" href="{{ url_for('contact_Us') }}" role="button">Contact Us</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-CENTER">
                <h1>Workers</h1>
                <p>
                    Mostly of the time without any ideas and time to spend in searching pleasant gift  for other but more conscious in what a perfect gift can give in terms of satisfaction.
                    Using this service, they ended up in gaining leisure time at the end of the day feeling more accomplished.
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>



        <!-- START THE FEATURETTES -->
        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading" style="color: white">Mission</h2>
                <p class="lead" style="color: #ffffff">
                    The project aims to help everyone to make good gift!
                    Gifts have to do with people happiness and joy, this is a crucial thing that could characterize every moment of our life.
                    It could be a big present or simply a little thought, but what matters is to make that moment special, happiness is precious and Giftor it is thought to make that moment of happiness unmemorable!
                </p>
              </div>
              <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill-opacity="0.0"/>
                    <image href="/static/img/mission.tif" x="0" y="0" height="100%" width="100%"/>
                </svg>
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="color: white">Vision</h2>
                <p class="lead" style="color: white">
                    Behind the choice of the gift you can hide many things that can make this small choice an important thing:
                    <ul style="text-align: left">
                          <li>Choosing a gift suitable for the recipient will avoid waste of various kinds, for example production or money.</li>
                          <li>Choosing a sustainable gift could have an important meaning for the Earth, but above all an important impact.</li>
                          <li>Choosing a gift of a local product will support sellers in this particularly delicate historical context.</li>
                          <li>Choosing Giftor is making the right choice.</li>
                    </ul>
                </p>
              </div>
              <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill-opacity="0.0"/>
                    <image href="/static/img/vision.png" x="0" y="0" height="100%" width="100%"/>
                </svg>
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading" style="color: white">Values</h2>
                  <p class="lead" style="color: white">
                    Projected towards the future and interested in research and development, the promotion of eco-sustainable gift is a cutting-edge choice that we can make to make those who receive them happy and to concretely contribute to the well-being of the Planet on which we live.
                  </p>
              </div>
              <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill-opacity="0.0"/>
                  <image href="/static/img/values.jpg" x="0" y="0" height="100%" width="100%"/>
                </svg>
              </div>
            </div>

            <hr class="featurette-divider">
            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="text-center">
                <h1 class="display-4" style="color: white">Members team</h1>
            </div>
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"  aria-label="Placeholder: 140x140">
                    <image href="/static/img/avata.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Chirivì Marco</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/avata.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Colelli Martina</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/avata.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Luca Matteo</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

            <div class="row">
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/avata.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Monna Roberta</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/avata.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Rocco Andrea</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/avata.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Valastro Dario</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>

              </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->




        <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->

    {% include 'module/footer.html' %}
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script><script>window.jQuery || document.write('<script src="/static/vendor/boostrap/jquery/jquery.slim.min.js"><\/script>')</script><script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

