{% include 'module/head.html' %}
{% include 'module/social_bar.html' %}
<link href="../static/stylesheets/carousel.css" rel="stylesheet">
<body class="text-center" style="background-image: url(/static/img/sfondo_home_prova2.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;">

    <header>
        {% include 'module/navbar_ita.html' %}
    </header>

    <main role="main" style="margin-left: 15%">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="carousel-caption text-center">
                <h1>Nuove generazioni</h1>
                <p>
                    Sempre connessi tra di loro e in grado di conoscere qualcuno meglio di chiunque altro grazie frequenti interazioni sociali. Loro sono quelli che meglio si adattano alle caratteristiche del nostro servizio,
                    fornendoci preziosi feedback e consigli in grado di garantire al team la possibilità di raggiungere elevati livelli di accuratezza.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption">
                <h1>Propretari di Negozi</h1>
                <p>
                    Rivolto a tutti i piccoli business ed e-commerce che si trovano in difficolta nello sviluppare e rilasciare strategie efficaci per accelerare il processo di scelta del cliente in modo semplice e confidenziale.
                    Questo permette ai business di essere visti da più persone e di aumentare la possibilità di chiudere più affari facendo crescere i ricavi senza sforzo
                </p>
                <p><a class="btn btn-lg btn"  style="background: #FFFFFF" href="{{ url_for('contact_Us_ita') }}" role="button">Contattaci</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-CENTER">
                <h1>Lavoratori</h1>
                <p>
                    La maggior parte delle volte senza troppe idee e tempo da spendere per cercare regali piacevoli per altre persone, ma con più consapevolezza di quanto un bel regalo posso soddisfare il ricevitore.
                    Usando questo servizio finiranno per guadagnare tempo libero a fine giornata sentendosi più soddisfatti.
                </p></div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>



        <!-- START THE FEATURETTES -->
        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading" style="color: white">Mission</h2>
                <p class="lead" style="color: #ffffff">
                    Il progetto mira a aiutare tutti a fare un buon regalo!
                    I regali hanno a che fare con la felicità e la gioia, questa è una cosa cruciale che potrebbe caratterizzare ogni momento della nostra vita.
                    Potrebbe essere un grande regalo o un piccolo pensiero, ma quello che conta è rendere speciale quel momento, la felicità è preziosa e GIFTOR pensa a rendere di felicità quel momento.
                </p>
              </div>
              <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill-opacity="0.0"/>
                    <image href="/static/img/mission.jpg" x="0" y="0" height="100%" width="100%"/>
                </svg>
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="color: white">Vision</h2>
                <p class="lead" style="color: white">
                    Dietro la scelta del dono si possono nascondere molte cose che rendono questa piccola scelta una cosa importante:
                    <ul style="text-align: left">
                          <li>Scegliere un dono adatto al destinatario eviterà sprechi di varie specie, ad esempio la produzione o il denaro.</li>
                          <li>Scegliere un dono sostenibile potrebbe avere un significato importante per la Terra, ma soprattutto un impatto importante.</li>
                          <li>Scegliere un dono di un prodotto locale sosterrà i venditori in questo contesto storico particolarmente delicato.</li>
                          <li>Scegliere Giftor è la giusta scelta.</li>
                    </ul>
                </p>
              </div>
              <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill-opacity="0.0"/>
                    <image href="/static/img/vision.png" x="0" y="0" height="100%" width="100%"/>
                </svg>
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading" style="color: white">I nostri valori</h2>
                <p class="lead" style="color: white">
                    Proiettati verso il futuro ed interessati alla ricerca e allo sviluppo, la promozione di regali ecosostenibili è una scelta all’avanguardia che possiamo fare per rendere felici chi li riceve e per contribuire concretamente al benessere del Pianeta su cui viviamo
                </p>
              </div>
              <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><rect width="100%" height="100%" fill-opacity="0.0"/>
                     <image href="/static/img/values.jpg" x="0" y="0" height="100%" width="100%"/>
                </svg>
              </div>
            </div>

            <hr class="featurette-divider">
            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="text-center">
                <h1 class="display-4" style="color: white">Membri del team</h1>
            </div>


            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"  aria-label="Placeholder: 140x140">
                    <image href="/static/img/marco.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Chirivì Marco</h2>
                <p> Product Manager </p>
                <p>
                    <a class="btn btn-secondary" href="http://linkedin.com/in/marco-chirivì" role="button" style="color: #3b5998" style="text-color: #fff" style="border-color: #3b5998" target="_blank">Visita il profilo linkedIn &raquo;
                        <span class="icon-linkedin" style="fill-opacity: 0.5"></span>
                    </a>
                </p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/martina.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Colelli Martina</h2>
                <p>Social Media Manager</p>

                <p>
                    <a class="btn btn-secondary" href="https://www.instagram.com/martinacoll/?igshid=1cx93orjoc354" role="button" style="color: #3b5998" style="text-color: #fff" style="border-color: #3b5998" target="_blank">Visita il profilo Instagram &raquo;
                        <span class="icon-instagram" style="fill-opacity: 0.5"></span>
                    </a>
                </p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/matteo.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Luca Matteo</h2>
                <p>Developer</p>
                <p>
                    <a class="btn btn-secondary" href="https://www.linkedin.com/in/matteo-luca-549793200/" role="button" style="color: #3b5998" style="text-color: #fff" style="border-color: #3b5998" target="_blank">Visita il profilo linkedIn &raquo;
                        <span class="icon-linkedin" style="fill-opacity: 0.5"></span>
                    </a>
                </p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

            <div class="row">
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/roberta.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Monna Roberta</h2>
                <p>Project Manager</p>

                <p>
                    <a class="btn btn-secondary" href="https://www.linkedin.com/in/roberta-monna-0a3580164/" role="button" style="color: #3b5998" style="text-color: #fff" style="border-color: #3b5998" target="_blank">Visita il profilo linkedIn &raquo;
                        <span class="icon-linkedin" style="fill-opacity: 0.5"></span>
                    </a>
                </p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/andrea.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Rocco Andrea</h2>
                <p>Data analyst</p>

                <p>
                    <a class="btn btn-secondary" href="https://www.linkedin.com/in/andrea-rocco-409ab6128/" role="button" style="color: #3b5998" style="text-color: #fff" style="border-color: #3b5998" target="_blank">Visita il profilo linkedIn &raquo;
                        <span class="icon-linkedin" style="fill-opacity: 0.5"></span>
                    </a>
                </p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" style="color: white">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <image href="/static/img/dario.png" x="0" y="0" height="140px" width="140px"/>
                </svg>
                <h2>Valastro Dario</h2>
                <p>Developer</p>

                <p>
                    <a class="btn btn-secondary" href="https://www.linkedin.com/in/dario-valastro/" role="button" style="color: #3b5998" style="text-color: #fff" style="border-color: #3b5998" target="_blank">Visita il profilo linkedIn &raquo;
                        <span class="icon-linkedin" style="fill-opacity: 0.5"></span>
                    </a>
                </p>

              </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->




        <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->

    {% include 'module/footer.html' %}
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script><script>window.jQuery || document.write('<script src="/static/vendor/boostrap/jquery/jquery.slim.min.js"><\/script>')</script><script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

