<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/static/vendor/boostrap/jquery/jquery.slim.min.js"><\/script>')</script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

{% include 'module/head.html' %}
{% include 'module/social_bar.html' %}
<html class="text-center">
<link href="/static/stylesheets/customer_service.css" rel="stylesheet">
<body class="text-center" style="background-image: url('/static/img/sfondo_home_prova2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;">
{% include 'module/navbar.html' %}

    <div class="container contact-form">
                <div class="contact-image">
                    <img src="/static/img/icona2.png" />
                </div>
                <form action="{{ url_for('send_message_eng') }}" method="post">
                    <h3 style="color: #721c24">Drop Us a Message</h3>
                   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" required/>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Your Email *" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="subject">What’s wrong?</label>
                                <select class="custom-select d-block w-100" id="subject" required name="subject">
                                  <option>Problem with web site</option>
                                  <option>Leave feedback</option>
                                  <option>Proposing a present</option>
                                  <option>You are store owners</option>
                                  <option>Other information</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea name="message" class="form-control" placeholder="Your Message *" style="width: 130%; height: 280px;" required></textarea>
                            </div>
                        </div>
                    </div>
                </form>
    </div>


</body>
