
{% include 'module/head.html' %}
{% include 'module/social_bar.html' %}



  <body class="text-center" style="background-image: url(/static/img/sfondo_home_prova2.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;">

    {% include 'module/navbar_ita.html' %}

      <div class="cover-container d-flex w-300 h-300 p-3 mx-auto flex-column">

              <main role="main" class="inner cover" style="font-size: 135%">
                  <img src="/static/img/nome.png" style="width: 50%" />
                  <p>Non sai cosa regalare questo Natale?</p><br>
                  <p>Questa web app cerca di trovare il regalo perfetto per chiunque rispondendo a semplici domande sul destinatario</p>
                  <br>
                  <p class="lead">
                    <a href="{{ url_for('test_ita') }}" class="btn btn-danger" style="width: 50%">INIZIA</a>  <!-- ref alla pagina delle domande -->
                  </p>

              </main>
              {% include 'module/footer.html' %}
      </div>

    <script src="static/vendor/jquery/jquery.js"></script>
    <script src="static/vendor/js/bootstrap.bundle.js"></script>


  </body>


