{% include 'module/head.html' %}
<style type="text/css">
    .text-center {
        background-image: url(/static/img/sfondo_home_prova2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }



</style>
<script src="static/vendor/jquery/jquery.js"></script> <!--what? -->
<script src="static/vendor/js/bootstrap.bundle.js"></script> <!-- what?-->

  <body class="text-center">

    {% include 'module/navbar.html' %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

              <main role="main" class="inner cover" style="font-size: 135%">
                  <br><br>
                  <br><br>
                  <h1 class="cover-heading">GIFTOR</h1>
                  Do you don't know what give as gift this Christmas?<br>
                  This web app is merely trying to find the perfect gift for any person by answering simple questions</p>
                  <br>
                  <p class="lead">
                    <a href="{{ url_for('test') }}" class="btn btn-danger" style="width: 50%">START</a>  <!-- ref alla pagina delle domande -->
                  </p>
              </main>

    {% include 'module/footer.html' %}
     </div>



  </body>
