{% include 'module/head.html' %}
<style>
    .buttonSubmit{
        opacity: 1;
    }

</style>

<script src="static/vendor/jquery/jquery.js"></script>
<script src="static/vendor/js/bootstrap.bundle.js"></script>
<body class="text-center" style="background-image: url(/static/img/sfondo_home_prova2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;">
{% include 'module/navbar.html' %}
<main role="main" class="container" >
    <br><br><br><br>
        <div class="jumbotron" style="color: #721c24;opacity: 0.9">

        <form action = "http://127.0.0.1:5000/testt/{{ counterQuestion }}/{{ path }}" method = "post">
        <h1 class="display-4" style="opacity: initial;font-weight: bold ">{{ questions[counterQuestion].getTextQuestion() }}</h1>
        {{ form.csrf }}
        {{ form.hidden_tag() }}
        <hr class="my-4">
        <ul class="list-inline" style="opacity: initial">
            {% for a in answers %}
          <li class="list-inline-item">{{ a.getTextAnswer() }}
              <input type="radio" id="{{ a.getIdAnswer() }}" value="{{ a.getIdAnswer() }}" name ="answer"> </li>
           {% endfor %}
        </ul>

            <submit>
                <a href="{{ url_for('testt',idQuestion=counterQuestion,path=path) }}" style="background: #721c24; width: 25%"  class="btn btn-primary" role="button"> Continue {{ form.submit(class='buttonSubmit') }}</a>
            </submit> # RESOLVE!!!
        </form>
    </div>

</main>

{% include 'module/footer.html' %}
</body>
</html>